<div class="container">
    <form novalidate>
        <div class="video-zone">
            @if (videoURL()) {
                <div class="video">
                    @defer {
                        <video-player [video]="videoURL()" [alwaysShowUI]="true"></video-player>
                    } @placeholder {
                        <div class="placeholder">Видео загружается...</div>
                    }
                </div>
                <button class="delete-button"
                    (click)="clearVideo()">Удалить видео</button>
            } @else {
                <label class="video" for="video-input">
                    <div class="message">
                        <button>Загрузить видео</button>
                    </div>
                    <input
                        #videoInput
                        id="video-input"
                        type="file" accept="video/mp4, .mp4"
                        (input)="onVideoChange($event)">
                </label>
            }
        </div>
        <div class="second-zone">
            <div class="preview-zone">
                @if (previewURL()) {
                    <div class="preview-container">
                        <div class="preview">
                            <img [src]="previewURL()">
                        </div>
                        <button class="delete-button"
                            (click)="clearPreview()">Удалить превью</button>
                    </div>
                } @else {
                    <label class="preview" for="preview-input">
                        <div class="message">
                            <button>Загрузить превью</button>
                        </div>
                        <input
                            #previewInput
                            id="preview-input"
                            type="file"
                            (input)="onPreviewChange($event)" accept=".jpg, .png">
                    </label>
                }

                <div class="visibility">
                    <h4>Доступность видео</h4>
                    <button class="select public"
                        [ngClass]="{'active': videoForm.visibility().value() == 0}"
                        (click)="changeCurrentVisibility(0)"
                    >
                        <img src="icons/wide-icon.svg">
                        <p>Доступно всем</p>
                    </button>
                    <button class="select link"
                        [ngClass]="{'active': videoForm.visibility().value() == 1}"
                        (click)="changeCurrentVisibility(1)"
                    >
                        <img src="icons/link-icon.svg">
                        <p>Доступ по ссылке</p>
                    </button>
                </div>
            </div>
            <div class="inputs">
                <label>
                    <p>Название:</p>
                    <input [formField]="videoForm.name">
                    <p
                        class="text-count"
                        [ngClass]="{'active': videoForm.name().value().length}"
                        >
                        {{ videoForm.name().value().length }} / 70
                    </p>
                </label>
                <label>
                    <p>Описание:</p>
                    <textarea cols="40" [formField]="videoForm.description"></textarea>
                    <p
                        class="text-count"
                        [ngClass]="{'active': videoForm.description().value().length}"
                        >
                        {{ videoForm.description().value().length }} / 2500
                    </p>
                </label>
            </div>
        </div>
    </form>
    <button
        class="publish-button"
        [disabled]="videoForm().invalid() || isLoading()"
        (click)="publish()"
        >
        Опубликовать
    </button>
</div>
