<div class="container">
    <div class="profile">
        <div class="header">
            <img [src]="userInformation()?.header | pathConverter">
        </div>
        <div class="information">
            <div class="avatar">
                <img [src]="userInformation()?.avatar | pathConverter">
            </div>
            <div class="text">
                <h3>{{ userInformation()?.username }}</h3>
                <p>{{ userInformation()?.subscribers | shortNumber }} подписчиков</p>
            </div>
            <div class="exit-account">
                <p (click)="exitAccount()">Выйти из аккаунта</p>
            </div>
        </div>
    </div>
    <div class="videos">
        @for (content of userVideos(); track content) {
            <app-account-video [content]="content"></app-account-video>
        }
    </div>
</div>
