@use '../../../assets/variables.scss' as vars;

.grid {
  padding: vars.$size-40;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(vars.$size-520, 100%), 1fr));
  gap: vars.$size-40;
  justify-content: start;

  a {
      color: white;
      text-decoration: none;
  }
}

.error-container, .loader {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60dvh;

    .spinner {
        width: vars.$size-40;
        height: vars.$size-40;
    }
}
