@if (hasVideos()) {
    <div class="grid">
        @if (videos().length > 0) {
            @for (content of videos(); track content) {
                @defer { 
                    <app-content-box 
                        [contentType]="0" [content]="content"></app-content-box>
                }
            }
        }
    </div>
} 
@else if (isError()) {
    <div class="error-container">
        <h1>Видео не смогли загрузиться</h1>
        @if (isOnline()) {
            <p>Сервер офлайн</p>
        } @else {
            <p>Вы офлайн</p>
        }
    </div>
} 
@else {
    <div class="loader">
        <p>Загрузка видео</p>
        <div class="spinner">
            <loader-icon></loader-icon>
        </div>
    </div>
}