<div class="HaveAnAccount">
  <div class="userInfo">
    <span class="avatar_and_username">
        <div class="avatar">
          <img src="{{ userAvatar }}" loading="eager">
        </div>
        <div class="userName">
          <h1 class="userName">{{ userName }}</h1>
          <p class="userSubscribers">{{ NumberFormater(userSubscribers) }} подписчика</p>
        </div>
      </span>
  </div>
  <div class="services_container">
    <div class="services_navigation">
      <button [ngClass]="{ 'active': currentSubStudioNumber == 0}" (click)="set_sub_studio_number(0)">Главная</button>
      <button [ngClass]="{ 'active': currentSubStudioNumber == 1}" (click)="set_sub_studio_number(1)">Популярность</button>
      <button [ngClass]="{ 'active': currentSubStudioNumber == 2}" (click)="set_sub_studio_number(2)">Настройки</button>
    </div>
    <div class="services_content">
      @switch (currentSubStudioNumber) {
        @case (0) {
          <app-main-sub-studio (userClickEvent)="set_sub_studio_number(1)" [userSubscribers]="userSubscribers"></app-main-sub-studio>
        }
        @case (1) {
          <app-statistic-sub-studio [userSubscribers]="userSubscribers"></app-statistic-sub-studio>
        }
        @case (2) {
          <app-settings-sub-studio [user]="user" [currAvatarImage]="userAvatar" [currHeaderImage]="userHeader"></app-settings-sub-studio>
        }
      }
    </div>
  </div>
</div>



