@use '../../../assets/variables.scss' as vars;

.video {
    width: 100%; 
    height: auto;

    display: flex;
    border-radius: vars.$radius-lg;
    gap: vars.$size-20;
    
    .preview {
        width: 100%;
        height: auto;
        background: vars.$color-surface;
        border-radius: vars.$radius-lg;
        aspect-ratio: 16/9;
        max-height: vars.$size-240;
        
        display: flex;
        justify-content: center;
        align-items: center;
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover; 
            object-position: center;
            border-radius: vars.$radius-lg;
        }
    }

    .information {
        width: 100%;
        display: flex;
        align-items: center;
        gap: vars.$size-12;

        .main-information {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: vars.$size-12;

            h3 {
                cursor: pointer;
                margin: 0;
                padding: 0;
                border: 0;
                max-height: unset;
                line-height: 1em;
            }

            .more-information {
                width: 100%;
                display: flex;
                justify-content: space-between;

                .video-information {
                    width: 100%;
                    height: 100%;
                    justify-content: space-between;
                    display: flex;
                    flex-direction: column;
                    gap: vars.$size-4;
                }

                // .author-inforamtion {
                    // p {
                        // line-height: 0;
                //     }
                // }

                p {
                    width: 100%;
                    font-size: small;
                    margin: 0;
                }

            }
        }
    }

    .controls {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        width: 100%;
    
        button {
            display: flex;
            gap: vars.$size-12;
            background: none;
            border: none;
            outline: none;
            color: vars.$color-white;
            padding: 0 vars.$size-20;
            border-radius: vars.$radius-full;
        
            img {
                width: vars.$size-20;
            }

            &:hover {
                background: vars.$color-surface;
            }
        }

        .delete {
            color: vars.$color-red;
            
            img {
                fill: vars.$color-red;
                stroke: vars.$color-red;
            }
        }
    }
}