@use '../../../assets/variables.scss' as vars;

.video {
    width: 100%; 
    height: auto;

    display: flex;
    border-radius: vars.$radius-lg;
    gap: vars.$size-20;
    max-width: vars.$size-520;
    
    .preview {
        width: 100%;
        height: auto;
        background: vars.$color-surface;
        border-radius: vars.$radius-lg;
        aspect-ratio: 16/9;
        max-height: vars.$size-240;
        
        display: flex;
        justify-content: center;
        align-items: center;
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover; 
            object-position: center;
            border-radius: vars.$radius-lg;
        }
    }

    .information {
        width: 100%;
        display: flex;
        align-items: center;
        gap: vars.$size-12;

        .main-information {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: vars.$size-12;

            h3 {
                cursor: pointer;
                margin: 0;
                padding: 0;
                border: 0;
                max-height: unset;
                line-height: 1em;
            }

            .more-information {
                width: 100%;
                display: flex;
                justify-content: space-between;

                .video-information {
                    display: flex;
                    flex-direction: column;
                }

                // .author-inforamtion {
                    // p {
                        // line-height: 0;
                //     }
                // }

                p {
                    cursor: pointer;
                    font-size: small;
                    line-height: 0;
                }
                
                .video-information {
                    height: auto;
                    display: flex;
                    gap: vars.$size-8;
                }
            }
        }
    }
}