<div class="video">
    <div class="preview">
        <img [src]="content().preview | pathConverter">
    </div>
    <div class="information">
        <div class="main-information">
            <h3>{{ makeShortTitle(content().name) }}</h3>
            <div class="more-information">
                <div class="video-information">
                    <p>{{ content().views | shortNumber }} просмотров</p>
<!--                    <p>{{ content().total_likes | shortNumber }} лайков</p>-->
                </div>
            </div>
        </div>
    </div>
<!--    <div class="controls">-->
<!--        <button class="delete" (click)="deleteBlock()">-->
<!--            <img src="icons/red-trash-icon.svg">-->
<!--            <p>Удалить видео</p>-->
<!--        </button>-->
<!--    </div>-->
</div>
