<div class="video">
    <div class="preview">
        <img [src]="content().preview">
    </div>
    <div class="information">
        <div class="main-information">
            <h3>{{ makeShortTitle(content().title) }}</h3>
            <div class="more-information">
                <div class="video-information">
                    <p>{{ content().views | shortNumber }} просмотров</p>
                    <p>{{ content().likes | shortNumber }} лайков</p>
                    <p>{{ content().dislikes | shortNumber }} дизлайков</p>
                    <p>{{ content().uploadDate | timeAgoPipe }} назад</p>
                </div>
                <div class="controls">
                    <button class="change-visibility">
                        <img>
                        <p>Сменить на доступ по ссылке</p>
                    </button>
                    <button class="delete">
                        <img>
                        <p>Удалить видео</p>
                    </button>
                </div>
            </div> 
        </div>
    </div>
</div>