<div class="player-container" #playerContainer>
    <video 
        #videoPlayer 
        (click)="this.playPauseVideo()"
    >
        <source [src]="video()" type="video/mp4">
    </video>

    <div class="effect" [ngClass]="{'active-effect': isAnimatingEffect()}">
        <img [src]="'./icons/' + currentEffectSrc()">
    </div>
    
    <div 
        #controls
        class="controls"
    >
        <div class="left">
            <button class="play-button" (click)="playPauseVideo()">
                <img [src]="isPlaying() ? './icons/stop-icon.svg' : './icons/play-icon.svg'">
            </button>
            <div class="time-container">
                <p>
                    {{ currentTime() | timeConverter }} / {{ duration() | timeConverter}}
                </p>
            </div>
            <div class="volume">
                <button (click)="changeMuteStatus()">
                    <img
                        [src]="'./icons/' + currentVolumeIcon()"
                    >
                </button>
                <input type="range" class="volume-bar" 
                    #volumeBar min="0" max="1" step="0.01" 
                    [value]="currentVolume()"
                    (input)="setVolumeEvent($event)">
            </div>
        </div>
        <div class="right">
            <button title="Картинка в картинке" (click)="togglePip()">
                <img src="./icons/picture-in-picture-icon.svg">
            </button>
            <button title="Изменить размер" (click)="toggleSize()">
                <img src="./icons/max-size-icon.svg">
            </button>
        </div>
        <input class="progress" type="range" 
            #progressBar min="0" max="100" step="0.01" 
            value="0" (input)="seekVideo($event)">
    </div>
</div>