<script src="video-view.component.ts"></script>
<link rel="stylesheet" href="video-view.component.scss">
<div class="container">
    <div class="video-container">
        <div class="video">
            @defer {
                <video-player
                    [video]="videoInformation()?.video | pathConverter"
                    [videoPoster]="videoInformation()?.preview"
                    ></video-player>
            }
            @loading {
                <div class="moch-video"></div>
            }
        </div>
        <div class="informaition">
            <div class="main">
                <h2>{{ videoInformation()?.name }}</h2>
            </div>
            <div class="additional">
                <div class="first-row">
                    <div class="profile_data">
                        <a [href]="'profile/' + authorInformation()?.User_ID" class="avatar">
                            <img [src]="authorInformation()?.avatar | pathConverter">
                        </a>
                        <div class="text">
                            <h3>{{ authorInformation()?.username }}</h3>
<!--                            <p>{{ authorInformation()?.subscribers | shortNumber }} подписчиков</p>-->
                        </div>
<!--                        <div class="subscribe-button">-->
<!--                            <button -->
<!--                                [ngClass]="{'dissubscribe': isSubscribed(), 'subscribe': !isSubscribed()}"   -->
<!--                                (click)="changeSubscribeStatus()">-->
<!--                                {{ isSubscribed() ? 'Отписаться' : 'Подписаться' }}-->
<!--                            </button>-->
<!--                        </div>-->
                    </div>
                    <div class="buttons">
                      <div class="likes">
                          <button
                            [class.active]="likedStatus() === 'liked'"
                            (click)="clickLikeButton('liked')"
                          >
                            @if (likedStatus() === 'liked') {
                              <img src="./icons/like-icon-solid.svg" height="30">
                            } @else {
                              <img src="./icons/like-icon.svg" height="30">
                            }
                            <p>{{ totalLikes() | shortNumber }} лайка</p>
                          </button>
                      </div>

                      <div class="share">
                        <button (click)="shareVideo()">
                          <img src="icons/share-icon.svg">
                          <p>Поделиться</p>
                        </button>
                      </div>
                    </div>
                </div>
                <div class="description-container">
                    <div class="information">
                      <p>{{ videoInformation()?.views | shortNumber }} просмотров</p>
                      <p class="seperator">•</p>
                      <p>{{ createDate(videoInformation()?.Video_ID || '') | timeAgoPipe }}</p>
                    </div>
                    <div class="description">
                        <p>{{ videoInformation()?.description }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
