<div class="container">
  <span class="avatar_of_user">
    <span class="avatar_image">
      <img src="{{currAvatarImage}}">
      <span class="change_avatar_icon">

      </span>
    </span>
    <h3>Аватар пользователя</h3>
  </span>
  <span class="header_of_user">
    <span class="header_image">
      <img src="{{currHeaderImage}}">
      <span class="change_header_icon">

      </span>
    </span>
    <h3>Шапка профиля</h3>
  </span>
  <span class="user_data">
    <h3>Данные пользователя</h3>

    <span class="name_field">
      <input placeholder="текущее имя">
      <button>
        <img src="pencil.svg">
      </button>
    </span>

    <span class="password_field">
      <input placeholder="текущий пароль">
      <button>
        <img src="pencil.svg">
      </button>
    </span>

    <button class="edit_button">
      <img src="pencil.svg">
    </button>
  </span>
</div>
