@use '../../../../../assets/variables.scss' as vars;

.video {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    border-radius: vars.$radius-lg;
    gap: vars.$size-20;
    
    .preview {
        display: flex;
        
        width: 100%;
        height: 100%;
        object-fit: cover;
        max-height: vars.$size-240;
        cursor: pointer;
        
        img {
            object-fit: cover;
            width: 100%;
            border-radius: vars.$radius-lg;
        }
    }

    .information {
        width: 100%;
        display: flex;
        align-items: center;
        gap: vars.$size-12;

        .author-avatar {
            width: 100%;
            height: 100%;
            max-width: vars.$size-60;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;

            img {
                cursor: pointer;
                width: 100%;
                aspect-ratio: 1/1;
                object-fit: cover;
                border-radius: vars.$radius-full;
            }
        }

        .main-information {
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: vars.$size-12;

            h3 {
                cursor: pointer;
                margin: 0;
                padding: 0;
                border: 0;
                max-height: unset;
                line-height: 1em;
            }

            .more-information {
                display: flex;
                flex-direction: column;

                // .author-inforamtion {
                    // p {
                        // line-height: 0;
                //     }
                // }

                p {
                    cursor: pointer;
                    font-size: small;
                    line-height: 0;
                }
                
                .video-information {
                    height: auto;
                    display: flex;
                    gap: vars.$size-8;
                }
            }
        }
    }
}