<a class="video" [href]="'/video/' + content().Video_ID">
    <div class="preview">
        <img [src]="currentPreviewImage() | pathConverter">
    </div>
    <div class="information">
        <a class="author-avatar" [href]="'profile/' + authorId()">
            <img [src]="authorAvatar() | pathConverter">
        </a>
        <div class="main-information">
            <h3>{{ makeShortTitle(content().name) }}</h3>
            <div class="more-information">
                <span class="author-information">
                    <a [href]="'profile/' + authorId()">{{ content().owner }}</a>
                </span>
                <span class="video-information">
                    <p>{{ content().views | shortNumber }} просмотров</p>
                    <p>•</p>
                    <p>{{ createDate(content().Video_ID) | timeAgoPipe }} назад</p>
                </span>
            </div> 
        </div>
    </div>
</a>