<div class="content">
  <div class="last_video">
    <p class="last_name">Последнее видео:</p>
    @if (last_video) {
      <span class="video_container">
          <span class="video">
            <a href="./video/{{last_video.Video_ID}}">
              <img class="preview" src="{{last_video.preview}}">
            </a>
          </span>
        <span class="text">
          <h2><a href="./video/{{last_video.Video_ID}}">{{ last_video.name }}</a></h2>
          <p>{{ NumberFormater(last_video.views) }} просмотров</p>
          <p>{{ stars_count }} звёзд</p>
          <p>{{ getCreatedDate() }}</p>
        </span>
      </span>
    } @else {
      <h2>{{ status_of_last_video }}</h2>
    }
    <button class="create_video" routerLink="/creating">Создать видео</button>
  </div>
  <div class="analytics">
    <h2>Аналитика:</h2>

    <h3>Подписчиков: </h3>
    <h3>{{ userSubscribers }}</h3>

      <h3>Лучшие видео: </h3>
    <button (click)="clickToStatisticButton()">Посмотреть статистику</button>
  </div>
</div>
