<div class="content">
  <div class="last_video">
    <h1>Последнее видео:</h1>
    @if (last_video) {
      <span class="video">
        <img class="preview" src="{{last_video.preview}}">
        <h2>{{ last_video.name }}</h2>
        <p>{{ last_video.views }} просмотров | {{ stars_count }} звёзд</p>
      </span>
    } @else {
      <h2>{{ status_of_last_video }}</h2>
    }
    <button class="create_video">Создать видео</button>
  </div>
  <div class="analytics">
    <h2>Аналитика:</h2>

    <h3>Подписчиков: </h3>
    <h3>{{ user_data.subscribers }}</h3>

      <h3>Лучшие видео: </h3>
    <button>Посмотреть статистику</button>

  </div>
</div>
