<div class="container">
    <div class="main">
        <h2>Войдите в аккаунт KPTube</h2>
        <form novalidate>
            <div class="name-part">
                <label for="username">Имя:</label>
                <input type="text" id="username" [formField]="loginForm.username">
                @if (loginForm.username()?.invalid() && loginForm.username()?.touched()) {
                    <div class="error" animate.enter="enter" animate.leave="leave">
                        Обязательно для заполнения
                    </div>
                }
            </div>
            <div class="pass-part">
                <label for="password">Пароль:</label>
                <input id="password" [formField]="loginForm.password" type="password">

                @if (loginForm.password()?.invalid() && loginForm.password()?.touched()) {
                    <div class="error" animate.enter="enter" animate.leave="leave">
                      Пароль обязателен
                    </div>
                }
            </div>
        </form>
        <div class="buttons">
            <button
                (click)="enter($event)"
                class="login-button"
                [disabled]="isLoading() || loginForm().invalid()"
            >
                <h3>{{ isLoading() ? 'Загрузка' : 'Войти' }}</h3>
            </button>
            <a href="registration/">Нет аккаунта? <b>Зарегистрироваться</b></a>
        </div>
    </div>
</div>
