<div class="videos">
  @for (video of videos; track video) {
    <a href="./video/{{video.Video_ID}}">
      <div class="video" appSystemIconsStyles>
        <span class="preview">
          <img src="{{linksChanger(video.preview)}}" loading="eager" alt="video preview">
        </span>
        <div class="info">
          <h5 class="video_name">{{ video.name }}</h5>
          <span class="author_and_views">
            <p>{{ video.owner }}</p>
            <p>{{ video.views }} просмотров</p>
          </span>
        </div>
      </div>
    </a>
  } @empty {
    <div class="loading">
      @if (isServerOnline) {
        <h1>Loading....</h1>
      } @else {
        <h1>Server offline</h1>
      }
    </div>
  }
</div>
