<div class="navigation">
    <div class="logotype">
        <div class="menu">
            <menu-opener (isOpenOutput)="changeStatusOfOpen($event)" [isOpenInput]="sideBarService.isSideBarOpen()"></menu-opener>
        </div>
        <h2 routerLink="/">
            KPTube
        </h2>
    </div>
    
    <div class="search-bar">
        <input
            placeholder="Поиск" 
            [formControl]="searchForm">
            <button (click)="search()">Поиск</button>
    </div>
 
    <div class="profile">
        <div class="create" routerLink="/create">
            <img src="icons/plus-icon.svg">
            <button>Создать</button>
        </div>
        <div class="avatar">
            @if (userInformation() == null) {
                <a href="./registration">Войти</a>
            } @else {
                <a class="avatar" href="./account">
                    <img [src]="userInformation()?.avatar">
                </a>
            }
        </div>
    </div>
</div>